<h1>Bicycles#index</h1>
<p>Find me in app/views/bicycles/index.html.erb</p>
<% @data.each do |obj| %>
<h3><%= obj.name %></a></h3>

<% end %>


	<%# if @page_num > 0 then %>
		<!-- <a href="/bicycles/index/<%#= @page_num - 1 %>">＜＜前のページ</a>
	<%# end %>

	<a href="/bicycles/index/<%#= @page_num + 1 %>">次のページ＞＞</a> -->